<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-10 col-12 ">
      <div class="card bg-white mt-2">
        <div class="card-header xyz-card-dark text-light rounded-0" >
          <a class="btn btn-dark text-white rounded-0" [routerLink]="[ '/giris' ]">Geri</a>

          <a class="btn float-right">Şifremi Unuttum</a>
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <div class="col">
              <div class="row">
                <h5>Yeni Şifre Talebi</h5>
                <p>Lütfen Xyzeki'de kayıtlı e-posta adresinizi giriniz. Size şifrenizi değiştirebilmeniz için
                  15 dakika boyunca geçerli olacak bir bağlantı göndereğiz.</p>
              </div>
              <div class="row">
                <div class="card-text">
                  <form #emailForm="ngForm" (ngSubmit)="requestForgotPasswordEmail(emailForm)" novalidate>
                    <div class="form-group">
                      <label for="email">E-Posta</label>
                      <input id="textForFocus" required type="email" minlength="2"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" [(ngModel)]="emailAdress"
                        #email="ngModel" class="form-control form-control-lg rounded-0" placeholder="" />
                      <div class="container-fluid">
                        <span *ngIf="modelSubmitted && email?.errors?.required" class="text-danger row">Email adresiniz
                          gereklidir</span>
                        <span *ngIf="modelSubmitted && email?.errors?.pattern" class="text-danger row">Email adresi
                          formatınız
                          geçerli değildir.</span>
                      </div>

                    </div>

                    <div *ngIf="modelSent" class="card-text">
                      <p class="text-break">{{informUser}}</p>
                    </div>
                

                    <button [hidden]="succeeded" [disabled]="isLoading" type="submit" class="btn xyz-card-dark-btn mt-4 "
                      style="border-radius: 2px;">Gönder
                      <img style="width: 30px;object-fit: cover; margin-bottom: 3px" [hidden]="!isLoading"
                        src="../../../assets/loading.gif">
                    </button>


                  </form>
                </div>

              </div>


            </div>

          </div>
        </div>
      </div>
    </div>


  </div>

</div>