<div class="container">
  <div class="row justify-content-center">
    <div class="card bg-white mt-3 mb-3" style="max-width: 600px">
      <div class="card-header xyz-card-dark text-light rounded-0">
        <a class="btn btn-dark text-white rounded-0" [routerLink]="[ '/giris' ]">Giriş Yap</a>
        <a disabled class="btn float-right btn-light text-dark"><span name="usernameUpdate">Şifremi Unuttum</span></a>
      </div>

      <div class="card-body">
        <div class="card-title">
          <span class="text-muted">Lütfen yeni bilgilerinizi giriniz</span>
        </div>
        <div class="card-text">
          <form #secureCodeModelForm="ngForm" (ngSubmit)="changePassword(secureCodeModelForm)" novalidate>
            <!-- I have disabled HTML5 auto-validation-->
            <div class="form-inline mb-3">
              <div class="form-inline mb-1">
                <div class="form-group mr-2 mt-1">
                  <label for="passwordEntered" class="mr-2">Şifre</label>
                  <input required minlength="5" type="password" name="passwordEntered" #passwordEntered="ngModel"
                    [(ngModel)]="securityCodeModel.NewPassword" class="form-control rounded-0 mr-2"
                    style="max-width: 200px" placeholder="Yeni şifrenizi giriniz" />
                </div>
                <div class="form-group mr-2 mt-1">
                  <label for="passwordEnteredValidator" class="mr-2">Şifre Tekrarı</label>
                  <input required minlength="5" type="password" name="passwordEnteredValidator"
                    #passwordEnteredValidator="ngModel" [(ngModel)]="passwordRepeatUpdate"
                    class="form-control rounded-0 mr-2" style="max-width: 200px"
                    placeholder="Şifrenizi tekrarlayınız" />
                </div>

              </div>
              <div class="container-fluid mb-1">
                <span *ngIf="modelSubmitted && passwordEntered?.errors?.required " class="text-danger row">Lütfen
                  geçerli
                  bir
                  şifre giriniz.</span>
                <span *ngIf="modelSubmitted && passwordEntered?.errors?.minlength" class="text-danger row">Şifreniz en
                  az 5
                  karakter olmalıdır</span>
                <span *ngIf="modelSubmitted && passwordEntered.value != passwordEnteredValidator.value"
                  class="text-danger row">Şifreleriniz uyuşmuyor.</span>

                <div *ngIf="modelSent" class="row">
                  <p class="text-break">{{informUser}}</p>
                </div>
              </div>
              <button [hidden]="succeeded" [disabled]="isLoading" type="submit" class="btn xyz-card-dark-btn mt-2 "
                style="border-radius: 2px;">Bilgilerimi
                değiştir <img style="width: 30px;object-fit: cover; margin-bottom: 3px" [hidden]="!isLoading"
                  src="../../../assets/loading.gif">
              </button>

            </div>
          </form>
        </div> <!-- Card text end-->
      </div> <!-- Card body end-->


    </div>