.XyzekiWithSloganBG{
    /* background: url(../../../assets/logo/Xyzeki-with-slogan.png) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-color: rgba(255, 255, 255, 0.473);
    pointer-events: none !important;
    width: 100%;
 
    padding-top: 25px;
    padding-bottom: 25px;
  }
  @media (max-width:600px)
  {
    .XyzekiWithSloganBG{
      padding-left: 2%;
      padding-right:  2%;
    }   
  }  
  @media (min-width:601px)
  {
    .XyzekiWithSloganBG{
      padding-left: 15%;
      padding-right: 15%;
    }   
  }


  .footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(48, 48, 48);
    color: white;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  html {
    scroll-behavior: smooth;
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
  }
  
  ::-webkit-scrollbar {
    width: 4px!important;
    height: 3px!important;
  }
  ::-webkit-scrollbar-button {
    background-color: #666;
  }
  ::-webkit-scrollbar-track {
    background-color: #646464;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: #000;
  }
  ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-corner {
    background-color: #646464;
  }
  ::-webkit-resizer {
    background-color: #666;
  }
  




  .xyz-nav-btn{
    border: 1px rgb(252, 182, 177) solid;  
    transition: background-color 0.2s;
    border-radius:2px!important;
  }
  .xyz-nav-btn:hover{
    box-shadow: 0 5px 15px rgba(255, 251, 0, 0.08);
    border: 1px rgb(255, 255, 255) solid;  
    background-color: rgb(226, 226, 226);
    border-radius: 2px!important;
  }
  
  
  .modernUnderlined {
    color: #ffffff!important;
    text-decoration: none;
    position: relative;
    font-weight: 150;
    /* transition: all 0.12s ease;  */
    font-family: "Raleway", Arial, sans-serif;
    font-size: 15px;
    padding-bottom: 5px;
    cursor: pointer;
    background-color: rgb(85, 76, 76);
  
    
  }
  
  .modernUnderlined::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 3px;
    right: 0;
    background:-webkit-gradient(linear, left top, right top, from(rgb(216, 213, 24)), 
    to(rgb(216, 213, 24)), color-stop(1, rgb(255, 251, 0)));
    
    opacity: 0.4;
    transition: all 0.5s ease;
    
  
  }
  
  .modernUnderlined:hover::after {
    opacity: 1;
  
  }
  