<nav class="container-fluid bg-dark sticky-top" >

    <div class="float-right rounded-0" style=" border-top-left-radius:0!important; border-top-right-radius:0!important;" role="group">              
            <a [routerLink]="[ 'giris' ]" class="btn modernUnderlined" style="border-radius: 2px;">
                
        <ng-container *ngIf="xyzekiAuthService.IsAccessTokenExpired && xyzekiAuthService.IsRefreshTokenExpired;else profile">
                    Oturum Aç</ng-container>

        <ng-template #profile>{{xyzekiAuthService.Member.Name }}</ng-template>
                <img
                    src="../../../assets/arrow-2.png"
                    style="width: 16px;object-fit: cover; cursor: pointer; " /></a>
           
            <a *ngIf="xyzekiAuthService.IsAccessTokenExpired && xyzekiAuthService.IsRefreshTokenExpired" class="btn btn-dark  btn-sm border-0 rounded-0" style="border-top-left-radius:0!important; border-top-right-radius:0!important;" [routerLink]="[ 'kayit-ol' ]">Üye Olun</a>
    </div>

    
</nav>

<img class="XyzekiWithSloganBG" src="../../../assets/logo/Xyzeki-with-slogan.png" />

<div  class="w-100 text-center">
    <h5>
        <a href="https://xyzeki.blob.core.windows.net/apps/XyzekiApp.apk">
            <img style="height: 50px; opacity: 0.99; cursor: pointer; margin-right: 10px; padding: 1px;" 
            src="../../../assets/google-play-icon.svg" /></a>
        <img style="height: 50px; opacity: 0.99; cursor: pointer; padding: 2px;" src="../../../assets/pwa-app.svg" />
    </h5>
</div>

<div class="footer w-100">
    <h5>Özellikler</h5>
    <p>Davetiye sistemi ile hızlı ekip kurulumu;
        Tarih ve saat destekli hızlı yapılacak iş oluşturma, atama ve yönetimi;
        Sürükle bırak ile pratik iş zamanlama, erteleme ve sıralama;
        Günlük iş filtreleme;
        Hafta yönetimi ajandası;
        250'ye kadar liste/proje oluşturma;
        Proje ve listelerinize alt görev/iş/liste öğesi oluşturma;
        Proje ve liste başı 50 kişi'ye kadar iş personeli veya liste alıcısı tanımlama;
        İş konuşmaları ile grup veya birebir mesajlaşma;
        Email ile günlük çalışanlara işveren görev planlaması bildirimleri;
        Email ile günlük işverene raporlama;
        Arşivleme ve arşiv arama sistemleri;
        Özel temalar;
        İş için yorumlar/notlar, hikayeler ve renk seçenekleri;
        Liste paylaşımı, proje yöneticisi yetkilendirme ve takip sistemleri;
        Kurumsal lisans sistemi;
        Özel dosya paylaşım bulutu;
        Ekibinizi birbiri ile senkronize tutan gerçek zamanlı sinyalleme
        ağları;
        Atandığınız yeni görev, yeni okunmamış mesajlarınız vb. için cihazlarınıza bildirim gönderim
        servisi
    </p>

    <h5>Neden Xyzeki®?</h5>
    <p>
        Xyzeki ile işlerinizi en hızlı şekilde organize edip titizlikle hayata geçirirsiniz. Böylece içiniz rahat olur.
        Tüm işlerinizi tek bir yerden hızlı, etkin ve de eksiksiz bir şekilde yönetebilmenizi, takip edebilmenizi
        sağlamak, sizin ve ekibinizin üretkenliğini
        arttırmak için tasarlanmıştır.
        
    </p>

    <h5>Teknoloji</h5>
    <p>
        Xyzeki şu an dünyada mevcut bulunan en son ve alanında en iyi teknojilerle geliştirilmiş olup, harika bir
        kullanıcı arayüzüne sahiptir. Google reCAPTCHA 3. nesil güvenlik teknolojilerini içerir.
        Şifrelerinizi dünya standardı algoritmalarla tekrar şifreleyerek oldukça güvenli bir şekilde
        saklar. Bu şekilde Xyzeki yöneticileri bile şifrelerinizi görememektedir. Ayrıca Xyzeki bulut teknolojilerini
        kullanmaktadır.
    </p>
    <h5>Fiyatlandırma</h5>
    <p>
        Xyzeki ekipler için aylık sadece 19.90 TL/Kişi (KDV'siz) oranında ve yıllık olarak faturalandırılır.
        Örneğin 25 kişilik bir ekibiniz var ise, 12 Ay X 19.90 TL/Kişi X 25 Kişi = 5970 TL KDV'siz, %18 KDV ile
        birlikte toplam 7044 TL olarak her yıl faturalandırılırsınız.
    </p>


    <h5>İletişim</h5>
    <p>
        bilgi@xyzeki.com<br>
        <!-- 0850'li numaramız da yakında hizmetinizdedir. -->
    </p>


   
    <h6 class="text-right">© 2020 Xyzeki</h6>


</div>